body {
    font-family: monospace;
    font-size: 12px;
    background-color: #000000;
}

input:focus {
    outline-width: 0;
}

pre {
    display: block;
    font-family: monospace;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    color: #888888;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

#command-input {
    background-color: inherit !important;
    border: 0 solid #000000;
    flex-grow: 100;
}

.output-line {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.eeg {
    color: #00ff00;
}

.willpower {
    color: #2180ac;
}

.prompt {
    color: #afa8af;
}

#messages {
    overflow-y: auto;
}

.text-sysmsg {
    color: #ffff00;
}

.text-white {
    color: #ffffff;
}

.text-directory {
    color: #66ccff;
}

.text-executable {
    color: #00ff00;
}

.text-textfile {
    color: ghostwhite;
}

.text-muted {
    color: #c7c7c7;
}

.text-gchat {
    color: #3399ff;
}

.text-users {
    color: #e730f4;
}

.text-addon {
    color: #245269;
}

.text-say {
    color: #a6fce4;
}

.text-newbie {
    color: #ffff99;
}

.text-survey {
    color: #0099cc;
}

.panel-container {
    position: fixed;
    width: 40%;
    top: 2em;
    right: 2em;
}

.milkrun-tile {
    float: left;
}

.milkrun-clickable {
    cursor: pointer;
}

.milkrun-container {
    position: fixed;
    width: 40%;
    top: 2em;
    right: 2em;
}

.manpage-container {
    position: fixed;
    width: 40%;
    top: 2em;
    right: 2em;
}

.map-panel .panel-body{
    height: 500px;
}

.img-tesseract {
    position: fixed;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
}

textarea {
    background-color: #1b1b1b;
}

.save {
    margin-right: 1em;
    float: right;
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.notification-box {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.actiontime-box {
    display: none;
    position: fixed;
    bottom: 3em;
    right: 1em;
}

.notification-container{
    overflow-y: scroll;
}

.popover {
    max-width: 40%;
    bottom: 0.5em !important;
    right: 1em !important;
}

.popover-content {
    overflow-y: scroll;
}

.img-noscript {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

.btn-hangman-letter {
    margin-bottom: .25em;
}

.hangman-solution {
    background-color: inherit;
    border: solid 1px #2e6da4;
    line-height: 30px;
    width: 100%;
}

.deadline-timer-container {
    position: fixed;
    width: 40%;
    bottom: 2em;
    right: 30%;
}

.deadline-progress {
    display: none;
}
