body {
    font-family: monospace;
    font-size: 12px;
}

input:focus {
    outline-width: 0;
}

pre {
    display: block;
    font-family: monospace;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    color: #888888;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #060606;
    border: 0;
    overflow: hidden;
}

#command-input {
    background-color: inherit !important;
    border: 0 solid #000000;
    line-height: 12px;
    width: 80%;
}

#messages {
    overflow-y: auto;
}

.text-sysmsg {
    color: #ffff00;
}

.text-white {
    color: #ffffff;
}

.text-directory {
    color: #66ccff;
}

.text-executable {
    color: #00ff00;
}

.text-textfile {
    color: ghostwhite;
}

.text-muted {
    color: #c7c7c7;
}

.text-gchat {
    color: #3399ff;
}

.text-users {
    color: #e730f4;
}

.text-addon {
    color: #245269;
}

.panel-container {
    position: fixed;
    width: 40%;
    top: 2em;
    right: 2em;
}

.map-panel .panel-body{
    height: 500px;
}

.img-tesseract {
    position: fixed;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
}

textarea {
    background-color: #1b1b1b;
}

.save {
    margin-right: 1em;
    float: right;
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.notification-box {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.notification-container{
    overflow-y: scroll;
}

.popover {
    max-width: 40%;
    bottom: 0.5em !important;
    right: 1em !important;
}

.popover-content {
    overflow-y: scroll;
}
