body {
    font-family: monospace;
    font-size: 12px;
    line-height: normal;
    background-color: #000000;
}

input:focus {
    outline-width: 0;
}

pre {
    display: block;
    font-family: monospace;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: normal;
    color: #888888;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    overflow: hidden;
}

pre.text-white {
    line-height: 12px;
}

pre.text-sysmsg {
    line-height: 12px;
    text-decoration: underline;
}

#command-input {
    background-color: inherit !important;
    border: 0 solid #000000;
    flex-grow: 100;
}

.output-line {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.eeg {
    color: #00ff00;
}

.willpower {
    color: #2180ac;
}

.password-input {
    display: none;
    background-color: inherit !important;
    border: 0 solid #000000;
    flex-grow: 100;
}

.prompt {
    color: #afa8af;
}

#messages {
    overflow-y: auto;
}

.text-small {
    font-size: 8px;
}

.text-sysmsg {
    color: #ffff00;
}

.text-attention {
    color: #ffff00;
}

.text-white {
    color: #ffffff;
}

.text-directory {
    color: #66ccff;
}

.text-executable {
    color: #00ff00;
}

.text-textfile {
    color: ghostwhite;
}

.text-muted {
    color: #c7c7c7;
}

.text-gchat {
    color: #3399ff;
}

.text-modchat {
    color: #ffb207;
}

.text-users {
    color: #e730f4;
}

.text-addon {
    color: #245269;
}

.text-say {
    color: #a6fce4;
}

.text-newbie {
    color: #ffff99;
}

.text-survey {
    color: #0099cc;
}

.text-npcs {
    color: #cc6d00;
}

.text-faction {
    color: #66ccff;
}

.text-tell {
    color: #99ff99;
}

.text-party {
    color: #4286f4;
}

.panel-heading {
    font-size: 9px !important;
    cursor: pointer;
}

.contextmenu-connection {
    text-decoration: underline;
    cursor: pointer;
}

.contextmenu-file {
    text-decoration: underline;
    cursor: pointer;
}

.contextmenu-entity {
    text-decoration: underline;
    cursor: pointer;
}

.context-menu-list {
    background: #1b1b1b;
    border: #4F5155;
}

.context-menu-item {
    background-color: #1b1b1b;
    color: #c8c8c8;
}

.context-menu-separator {
    border-bottom: 1px solid #c8c8c8;
}

#map-svg {
    background: url("../img/panel_bg.jpg");
    background-size:cover;
}

.notification-container {
    background: url("../img/panel_bg_alt.jpg");
    background-size:cover;
    overflow-y: scroll;
}

.panel-container {
    position: absolute;
}

.coding-ui-panel {
    background: url("../img/panel_code.jpg");
    background-size:cover;
}

.notifications-container {
    position: absolute;
}

.group-container {
    position: absolute;
}

.coding-detail-container {
    background-size:cover;
    position: absolute;
}

.map-container {
    position: absolute;
}

.milkrun-tile {
    float: left;
}

.milkrun-clickable {
    cursor: pointer;
}

.milkrun-container {
    position: fixed;
    width: 40%;
    top: 2em;
    right: 2em;
}

.manpage-container {
    display: none;
    position: fixed;
}

.content {
    background-color: rgba(0,0,0,0.6);
}

.manpage-content-container {
    padding: .5em;
    overflow-y: scroll;
}

.manpage-subject {
    color: #888888;
    background-color: #3c3c3c;
    border-color: #282828;
}

.manpage-status {
    color: #888888;
    background-color: #3c3c3c;
    border-color: #282828;
}

/*.map-panel .panel-body{*/
    /*height: 500px;*/
/*}*/

.img-tesseract {
    position: fixed;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
}

.mail-notifier {
    position: fixed;
    top: 2.1em;
    right: 0;
    width: 2em;
    height: 2em;
}

textarea {
    background-color: #1b1b1b;
}

.save {
    margin-right: 1em;
    float: right;
}

.send {
    margin-right: 1em;
    float: right;
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.notification-box {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 0.5em;
}

.actiontime-box {
    display: none;
    position: fixed;
    bottom: 3em;
    right: 0.5em;
}

.popover {
    max-width: 40%;
    bottom: 0.5em !important;
    right: 1em !important;
}

.popover-content {
    overflow-y: scroll;
}

.img-noscript {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

.btn-hangman-letter {
    margin-bottom: .25em;
}

.hangman-solution {
    background-color: inherit;
    border: solid 1px #2e6da4;
    line-height: 30px;
    width: 100%;
}

.deadline-timer-container {
    position: fixed;
    width: 40%;
    bottom: 2em;
    right: 30%;
}

.deadline-progress {
    display: none;
}

.leaflet-container .leaflet-control-attribution {
    background-color: rgba(0, 0, 0, .6);
}

.leaflet-container {
    background: rgba(0, 0, 0, .6);
}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #282828;
    border: 1px solid #3c3c3c;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #888888;
    white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    color: #FFFFFF;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
span.twitter-typeahead {
    width: 100%;
}
.input-group span.twitter-typeahead {
    display: block !important;
    height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
    height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
    height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #ffffff;
    background-color: rgba(40, 40, 40, 0.75);
    border: 1px solid #3c3c3c;
    border-bottom-color: transparent;
    cursor: default;
}